@use "variablen" as *;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap");

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font;

  &__title {
    font-size: 3rem;
    margin-bottom: 4rem;
    text-shadow: 2px 4px 6px rgba(92, 80, 71, 0.4);
  }

  &__img {
    width: 300px;
    margin-bottom: 1rem;
    border-radius: 6px;
  }

  &__items {
    display: flex;
    gap: 2rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 300px;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 4rem;
    background-color: $backgroundcolor;
    box-shadow: 0 0 20px 5px rgba(92, 80, 71, 0.4);
  }
  &__item:hover {
    transform: translateY(-3px);
    transition: ease-in-out 0.2s;
    background-color: #e9d9c4;
  }

  &__item-title {
    color: $text-color;
    text-decoration: underline;
  }

  &__item-text {
    font-size: 0.8rem;
  }

  &__item-price-current {
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
  }

  &__item-price-low {
    color: red;
    text-decoration: line-through;
  }

  &__item-price {
    margin-top: auto;
  }

  &__button {
    padding: 1rem;
    width: fit-content;
    border-radius: 5px;
    border: none;
    background-color: $backgroundcolor;
    font-family: $font;
  }

  &__button--active:hover {
    background-color: #645b51;
    color: #e9e6e3;
    transition: ease-in-out 0.2s;
  }
}
